// bg_Color
$bdark: #2D303A;
$bred: #F06C64;
$bwhite: #F2F2F2;
$bblue: #648BF0;
$bform: #D6564F;

// font_Color
$fdark: #666D89;
$fwhite: #FFFFFF;

// font_Size
$font_small: 12px;
$fontdef: 18px;
$font_big: 30px;

// font_weight
$s: 300;
$m: 400;
$l: 700;
$xl: 900;

// Size
$container: 940px;
