@import "../variable.scss";
@import "../commonStyles.scss";

#head_clients, #other_cli {
    .container {
        .head_cli {
            div {
                margin-bottom: 15px;
            }
        }
        .logo_line {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            div {
                margin-right: 30px;
                &:last-of-type {
                    margin-right: 0;
                }
                img {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

#other_cli {
    .container {
        .logo_line {
            margin-top: 0;
        }
    }
}

section {
    .container {
        .unit { 
            .line {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                .logo_client {
                    margin: 15px 30px 30px 0;
                    img {
                        width: 150px;
                    }
                }
                .head_client {
                    h3, p {
                        color: $head;
                        margin-bottom: 30px;
                    }
                    h3 {
                        a { 
                            text-decoration: none;
                            &:hover {
                                color: $dgreen;
                            }
                        }
                    }
                }
            }
            .row.justify-content-center {
                margin-bottom: 15px;
            }
        }
    }
}

section.mint {
    background-color: $mint;
}

section.white {
    background-color: $white;
}

