@import "../variable.scss";

@media all and (max-width: $break_1280) {
    section {
        .container {
            div {
                div {
                    a {
                        img {
                            width: 290px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: $break_1024) {
    section {
        .container {
            div {
                div {
                    a {
                        img {
                            width: 270px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: $break_992) {
    section {
        .container {
            .to_order {
                a.btn {
                    margin: 30px auto 0;
                }
            }
            div {
                div {
                    a {
                        img {
                            width: 230px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: $break_800) {
    section {
        .container {
            div {
                div {
                    a {
                        img {
                            width: 180px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: $break_630) {
    section {
        .container {
            div {
                div {
                    a {
                        img {
                            width: 135px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:$break_505) {
    section {
        .container {
            div {
                div {
                    a {
                        img {
                            width: 120px;
                        }
                    }
                }
            }
        }
        .to_order {
            a.btn {
                margin: 30px auto 0;
            }
        }
    }
}

@media all and (max-width:$break_425) {
    section {
        .container {
            div {
                button.slick-next {
                    right: -17px;
                }
                button.slick-prev {
                    left: -15px;
                }
                div {
                    a {
                        img {
                            width: 85px;
                        }
                    }
                }
            }
        }
    }
}