@import "../variable.scss";
@import "../commonStyles.scss";

section#contact_items {
    .container {
        .how_to_find {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            .row_find {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                margin-bottom: 30px;
                .htf_item {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0 15px 0 0;
                    padding-bottom: 15px;
                    width: 250px;
                    border-bottom: 1px solid $head;
                    .htf_icon {
                        width: 50px;
                        height: 50px;
                        text-align: left;
                        margin-right: 30px;
                        i {
                            font-size: 40px;
                            color: $dgreen;
                        }
                    }
                    .htf_info {
                        span.attention {
                        font-size: $mini;
                        position: relative;
                        top: -7px;
                        }
                        a {
                            color: $head;
                            text-decoration: none;
                            &:hover {
                                color: $darkvio;
                                font-weight: $l;
                                text-decoration: none;
                                cursor: pointer;
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
                .htf_item + .htf_item {
                    margin-right: 0;
                }
                .htf_item:last-child {
                    .htf_icon {
                        i {
                            font-size: 35px;
                        }
                    }
                }
            }
        }
        .note {
            &:last-child {
                text-align: center;
            }
            span.attention {
                font-size: $mini;
                position: relative;
                top: -7px;
            }
            .btn {
                background-color: $dgreen;
            }
        }
        .note + .note {
            margin-top: 30px;
        }
    }
}

.wrapper {
    height: 70vh;
    .parallax-img {
        height: 100%;
        background: url('../img/contacts/parallax-img_2.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}