@import "variable.scss";
@import "mixines.scss";
// Common styles

html {
    @include font_size;
}

body {
    background-color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: $h_small;
    color: $dark;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: $h_main;
    font-weight: $l;
    text-transform: uppercase;
    line-height: 1.167;
    letter-spacing: 0.15em;
    margin: 30px auto 15px;
}
h2 {
    font-size: $h_main;
    font-weight: $l;
    letter-spacing: 0.15em;
    color: $dark;
    margin-bottom: 30px;
    text-transform: uppercase;
}
h3 {
    font-size: $h_logo;
    font-weight: $l;
    color: $darkvio;
    margin: 15px auto;
}
h4 {
    font-size: $h_small;
    font-weight: $l;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $head;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 60px 0;
    @include container_mixin;
}
.btn {  
    margin: 15px auto;
    padding: 7px 10px;
    color: $white;
    font-weight: $l;
    background-color: $darkvio;
    border: 1px solid $darkvio;
    border-radius: 5px; 
    &:hover {
        color: $white;
        transition: 0.5s;
        transform: scale(1.1);
    }
}
.btn2 {
    width: 200px;
    margin: 15px auto;
    padding: 7px 10px;
    color: $dgreen;
    font-size: $h_small;
    font-weight: $l;
    text-align: center;
    background-color: $mint;
    border: 1px solid $dgreen;
    border-radius: 5px; 
    animation: Learnmore 5s infinite ease-in-out;
    &:hover {
        color: $dgreen;
        transition: 0.5s;
        box-shadow: 0px 0px 5px 1px $butShad2;
    }
}
.attention {
    font-weight: $xl;
    color: $attention;
}
.right {
    margin-left: 30px;
}
.left {
    margin-right: 30px;
}

@keyframes Learnmore {
    from {opacity: 0.5; color: $darkvio;}
    50% {opacity: 1; color: $dgreen;}
    100% {opacity: 0.5; color: $darkvio;}
}

// header style
header {
    background-color: $header;
    font-size: $h_menu;
    .container {
        padding: 30px 0;
        position: relative;
        div {
            position: absolute;
            top: 5px;
            right: 0;
            color: $head;
            font-size: 15px;
            display: none;
        }
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;
            padding-left: 0;
            li {
                text-transform: uppercase;
                font-weight: $l;
                letter-spacing: 0.05em;
                & :hover {
                    color: $wave;
                    transition: 0.3s;
                }
                a {
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;
                }
            }
        }
    }
}

// feedback
#feedback {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .col {
            padding: 0;
            &:first-child {
                margin-right: 60px;
            }
            form {
                input {
                    width: 100%;
                    margin: 0 0 30px;
                    padding: 5px 10px;
                    color: $dgreen;
                    border-radius: 5px;
                    border: 1px solid $dgreen;
                    outline-color: $dgreen;
                    background-color: $lgrey;
                    &::placeholder {
                        color: $dgreen;
                    }
                    &:focus {
                        color: $dgreen;
                        border: 1px solid $head;
                        border-radius: 5px;
                    }
                    &:active {
                        color: $dgreen;
                        background-color: $lgrey;

                    }
                }
                input[type=radio] {
                    width: 90px;
                    margin: 0;
                    background-color: $white;
                }
                input[type=submit] {
                    width: max-content;
                    color: $white;
                    font-weight: $l;
                    background-color: $dgreen;
                    border: 1px solid $dgreen;
                    border-radius: 5px; 
                    &:hover {
                        color: $dark;
                        color: $white;
                        transition: 0.5s;
                        transform: scale(1.1);
                    }
                }
                label {
                    margin: 0;
                } 
                textarea {
                    width: 100%;
                    height: 85px;
                    margin: 30px 0 35px;
                    padding: 5px 10px;
                    resize: none;
                    background-color: $lgrey;
                    border: 1px solid $head;
                    border-radius: 5px;
                    &::placeholder {
                        color: $dgreen;
                    }
                    &:focus {
                        color: $dgreen;
                        border: 1px solid $head;
                        border-radius: 5px;
                        outline-color: $dgreen;
                    }
                }
            }
        }
        .col_img {
            width: 400px;
            img {
                width: 100%;
            }
        }
    }
}

// footer
footer {
    background-color: $header;
    .container {
        padding: 30px 0;
        position: relative;
        .placing {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            .link {
                & + .link {
                    margin-left: 15px;
                }
                &:nth-child(3) {
                    margin-left: 30px;
                }
                a {
                    &:hover {
                        color: $wave;
                    }
                    text-decoration: none;
                    cursor: pointer;
                    color: $darkvio;
                    i {
                        font-size: 35px;
                        color: $darkvio;
                        &:hover {
                            color: $wave;
                        }
                    }
                }
            }
        }
        .copyright {
            position: absolute;
            bottom: 30px;
            right: 0;
            p {
                font-size: $h_body;
                line-height: 22px;
                color: $head;
                text-align: justify;
                margin: 0;
            }
        }
    }
}

@import "./commonStyles_media.scss";
