@mixin container_mixin
{
    width: 1140px;
    max-width: 1140px;
    @media all and (max-width: $break_1280)
    {
        width: 980px;
        max-width: 980px;
    }
    @media all and (max-width: $break_1024)
    {
        width: 880px;
        max-width: 880px;
    }
    @media all and (max-width: $break_992)
    {
        width: 740px;
        max-width: 740px; 
    }
    @media all and (max-width: $break_800)
    {
        width: 600px;
        max-width: 600px;
    }
    @media all and (max-width: $break_630)
    {
        width: 450px;
        max-width: 450px;
    }
    @media all and (max-width: $break_505)
    {
        width: 410px;
        max-width: 410px;
    }
    @media all and (max-width: $break_425)
    {
        width: 300px;
        max-width: 300px;
    }
}

@mixin font_size {
    font-size: 16px;
    @media all and (max-width: $break_1280)
    {
        font-size: 14px;
    }
    @media all and (max-width: $break_1024)
    {
        font-size: 13px;
    }
    @media all and (max-width: $break_992)
    {
        font-size: 12px;
    }
    @media all and (max-width: $break_800)
    {
        font-size: 10px;
    }
    @media all and (max-width: $break_630)
    {
        font-size: 9px;
    }
    @media all and (max-width: $break_505)
    {
        font-size: 9px;
    }
    @media all and (max-width: $break_425)
    {
        font-size: 7px;
    }
}