@import "variable.scss";
@import "commonStyles.scss";

// carousel
section#slidercaroudel {
    position: relative;
    div.headline {
        position: absolute;
        z-index: 5;
        bottom: 30px;
        width: 100%;
        background-color: #f9f7f79c;
        text-align: center;
        h1 {
            color: #3d3d3d;
        }
        h4 {
            margin-bottom: 0;
        }
        p {
            font-size: $h_logo;
            font-weight: $xl;
            text-transform: uppercase;
            letter-spacing: 0.4em;
            color: $head;
            margin: 15px auto;
        }
    }
}
 
// advantage
section#advantage {
    background-color: $header;
    div.container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
        padding: 60px 0;
        div.rowcont {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 15px;
            div.descr {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 50%;
                &:first-child {
                    margin-left: 15px;
                }
                &:last-child {
                    margin-left: 30px;
                    margin-right: 15px;
                }
                div.icon {
                    font-size: 70px;
                    color: $darkvio;
                    width: 20%;
                    text-align: center;
                    margin: 10px 30px 0 0;
                } 
                div.prop {
                    width: 80%;
                    p {
                        font-size: $h_small;
                        line-height: 22px;
                        color: $head;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

// news
section#news {
    position: static;
    background-color: $mint;
    div.container {
        .actnews {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            .newsitem {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 30px;
                .preview {
                    width: calc(100% - 300px);
                    h3 {
                        color: $dgreen;
                        font-weight: $xl;
                        text-transform: uppercase;
                        margin-top: 0;
                    }
                    p {
                        span {
                            font-weight: $xl;
                            font-size: $h_menu;
                            color: $dgreen;
                            text-align: justify;
                        }
                    }
                    p#direct {
                        text-align: left;
                        margin-right: 15px;
                        font-size:$h_menu;
                        a {
                            width: 250px;
                            text-decoration: none;
                            display: inline-block;
                            background-color: #ffffff85;
                            &:hover {
                                color: inherit;
                                transform: scale(1.1);
                                transition: 0.5s;
                            }
                        }
                    }
                }
                .visual {
                    width: 300px;
                    img {
                        width: 300px;
                        height: auto;
                    }
                }
            }
        }
    }
}

section#orderhub {
    .container {
        .to_order {
            margin: 30px 0 0;
            text-align: center;
            a {
                margin: 0 auto;
            }
        }
        .order {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            .order_img {
                width: 300px;
                margin-left: 30px;
                img {
                    width: 100%;
                }
            }
            .order_list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                .order_pair {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    .nav_item {
                        margin-right: 30px;
                        font-size: 40px;
                        color: $wave;
                        &:first-child {
                            font-size: 35px;
                        }
                    }
                    .text_item {
                        text-align: justify;
                        a {
                            text-decoration: underline;
                            font-weight: $xl;
                            font-size: $attent;
                            &:hover {
                                color: $wave;
                            }
                        }
                        span {
                            font-weight: $l;
                        }
                    }
                }
            }
        }
    }
}