// Variable parameters

// fonts
$s: 300;
$m: 400;
$l: 500;
$xl: 600;

// colors
$head: #3d3d3d;
$dark: #757780;
$header: #f9f7f77d;
$grey: #EAEAEA;
$buthbg: #e8eaf6;
$lgrey: #F9F7F7;
$white: #FFFFFF;

$darkvio: #69779B;
$purpleL: #939FC0;
$butShad: #B3BBD1;
$butShad2: #b0bec5;
$dgreen: #5B7561;
$wave: #7BA7A6;
$mint: #C5DEDD;

$attention: #b71c1c;

// font_Size
$h_main: 2rem;
$h_logo: 1.4rem;
$h_menu: 1.3rem;
$h_head3: 1.2rem;
$attent: 1.1rem;
$h_small: 1rem;
$h_body: 1rem;
$mini_plus: 0.8rem;
$mini: 0.5rem;

// screen-size
$break_1280: 1280px;
$break_1024: 1054px;
$break_992: 992px;
$break_800: 810px;
$break_630: 670px;
$break_505: 525px;
$break_425: 480px; 




